@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@font-face {
    font-family: "+JakartaRegular";
    // src: url(./fonts/PlusJakartaSans-Regular.woff2);
    src: url(../fonts/PlusJakartaSans-Regular.woff2);
}

@font-face {
    font-family: "+JakartaMedium";
    // src: url(./fonts/PlusJakartaSans-Medium.woff2);
    src: url(../fonts/PlusJakartaSans-Medium.woff2);
}

@font-face {
    font-family: "+JakartaBold";
    src: url(../fonts/PlusJakartaSans-Bold.woff2);
}